<!--    page_count кол-во страницы в таблице -->
<!--    page номер текущей страницы таблицы -->
<!--    array_pages список страниц для отображения в навигаторе -->
<link rel="stylesheet" type="text/css" href="/static/css/pages_table.css">
    {% if 'count' in par and par['count'] > par['row_count'] %}
          <div id="pages">
              <span style="color: {{colors['black']}}">Page:</span>
              <input id="page_number" type="number" name="page" min="1" max="{{page_count}}" size="0" step="0" value="{{par['page']}}"
                     style="background: {{colors['background']}}; color: {{colors['black']}};"
                     title="Номер выведенной страницы таблицы" >
              <button name="prev" value="-1" class="button_lr" style="background: {{colors['background']}};">
                  <img src="/static/arrow-left.png" width="18" height="18" title="Вывести предыдущую страницу таблицы">
              </button>
              {% if par['page'] == 1 %}
                  <button name="page(1)" class="btn-select_color" style="background: {{colors['background']}}; color: {{colors['red']}};"> 1 </button>
              {% else %}
                  <button name="page(1)" class="btn-next" style="background: {{colors['background']}}; color: {{colors['black']}};"> 1 </button>
              {% endif %}
              {% for unit in par['array_pages'] %}
                {% if unit['visible'] == True %}
                    {% if unit['page'] == par['page'] %}
                    <button name="{{unit['text']}}" class="btn-select_color" title="Номера страниц в таблице"
                            style="background: {{colors['background']}}; color: {{colors['red']}};"> {{unit['page']}} </button>
                    {% else %}
                        <button name="{{unit['text']}}" class="btn-next" title="Номера страниц в таблице"
                                style="background: {{colors['background']}}; color: {{colors['black']}};"> {{unit['page']}} </button>
                    {% endif %}
                {% endif %}
              {% endfor %}
              <button name="next" class="button_lr" title="Вывести следующую страницу таблицы"
                      style="background: {{colors['background']}};">
                  <img src="/static/arrow-right.png" width="18" height="18" title="Вывести следующую страницу таблицы"> </button>
          </div>
    {% endif %}
{% block scripts %}
<script>
    document.getElementById("page_number").addEventListener("keyup", function(e) {
        if (e.keyCode === 13) { document.forms['{{own}}'].submit(); }
    });
    $('#page_number').on('change', function() { document.forms['{{own}}'].submit(); });
</script>
{% endblock %}
