<!--row_count - кол-во выводимых строк в странице таблицы-->
<!--first - номер (с 1) первой выведенной строки-->
<!--last - номер (с 1) последней выведенной строки-->
<!--count - количество строк в таблице-->
<link rel="stylesheet" type="text/css" href="/static/css/top_of_table.css">
    <p>
        {% if not par['no_pages'] %}
            <span style="background: {{colors['background']}}; color: {{colors['black']}};">Строк:</span>
            <select id="row_count" name="row_count" title="Количество строк для вывода в одной странице таблицы"
                    style="background: {{colors['background']}}; color: {{colors['black']}};">
                {% if par['row_count'] == 5 %}
                    <option value="5" selected>5</option>
                {% else %}
                    <option value="5">5</option>
                {% endif %}
                {% if par['row_count'] == 10 %}
                    <option value="10" selected>10</option>
                {% else %}
                    <option value="10">10</option>
                {% endif %}
                {% if par['row_count'] == 25 %}
                    <option value="25" selected>25</option>
                {% else %}
                    <option value="25">25</option>
                {% endif %}
                {% if par['row_count'] == 50 %}
                    <option value="50" selected>50</option>
                {% else %}
                    <option value="50">50</option>
                {% endif %}
                {% if par['row_count'] == 100 %}
                    <option value="100" selected>100</option>
                {% else %}
                    <option value="100">100</option>
                {% endif %}
            </select>
        {% endif %}
         <span style="color: {{colors['black']}};" title="Начальная, конечная запись в таблице и количество возможных записей для вывода">
            {% if not par['no_pages'] %}
                Вывод с {{par['first']}} по {{par['last']}}
             {% endif %}
            (Всего строк={{par['count']}})
         </span>
        {% if not par['no_refresh'] %}
        <button type="submit" name="refresh_table" class="btn-show"
                style="background: {{colors['background']}}; color: {{colors['red']}}"
                title="Произвести вывод содержимого страницы таблицы">Вывести</button>
        {% endif %}
        {% if not par['no_search'] %}
        <label title="Поле для задания фильтра вывода информации таблицы">
            <span  style="color: {{colors['black']}};">Поиск: </span></label>
            {% if par['title_search'] %}
                <input type="search" name="search" size="50" value="{{par['search']}}" class="search" id="search_in_table"
                       style="background: {{colors['background']}}; color: {{colors['black']}};"
                       title="{{par['title_search']}}" onkeydown="return event.key != 'Enter';">
            {% else %}
                <input type="search" class="search" name="search" size="50" value="{{par['search']}}" id="search_in_table"
                       style="background: {{colors['background']}}; color: {{colors['black']}};"
                       title="Поле для задания фильтрации выводимых строк таблицы" onkeydown="return event.key != 'Enter';">
            {% endif %}
        {% endif %}
{% if par['close_top_tables'] != False %}
    </p>
{% endif %}

{% block scripts %}
<script>
    document.getElementById("search_in_table").addEventListener("keyup", function(e) {
        if (e.keyCode === 13) { document.forms['{{own}}'].submit(); }
    });
    function onClear(event) { document.forms['{{own}}'].submit(); }

    document.getElementById("search_in_table").addEventListener("search", onClear, function(e) {
        if (e.keyCode === 13) { document.forms['{{own}}'].submit(); }
    });
    $('#row_count').on('change', function() { document.forms['{{own}}'].submit(); });

</script>
{% endblock %}
