            {% if par['switch_translation'] == 'native' %}
                <button class="btn-menu" name="native"
                        title="Вывод информации на исходном языке"
                        style="background: {{colors['lightgray']}}; color: {{colors['green']}}">
                    <b>Иврит</b>
                </button>
                <button class="btn-menu" name="russian"
                        title="С переводом на русский"
                        style="background: {{colors['background']}}; color: {{colors['black']}}">
                    Русский
                </button>
                <button class="btn-menu" name="english"
                        title="С переводом на английский"
                        style="background: {{colors['background']}}; color: {{colors['black']}}">
                    Английский
                </button>
            {% elif par['switch_translation'] == 'russian' %}
                <button class="btn-menu" name="native"
                        title="Вывод информации на исходном языке"
                        style="background: {{colors['background']}}; color: {{colors['black']}}">
                    Иврит
                </button>
                <button class="btn-menu" name="russian"
                        title="С переводом на русский"
                        style="background: {{colors['lightgray']}}; color: {{colors['green']}}">
                    <u>Русский</u>
                </button>
                <button class="btn-menu" name="english"
                        title="С переводом на английский"
                        style="background: {{colors['background']}}; color: {{colors['black']}}">
                    Английский
                </button>
            {% else %}
                <button class="btn-menu" name="native"
                        title="Вывод информации на исходном языке"
                        style="background: {{colors['background']}}; color: {{colors['black']}}">
                    Иврит
                </button>
                <button class="btn-menu" name="russian"
                        title="С переводом на русский"
                        style="background: {{colors['background']}}; color: {{colors['black']}}">
                    Русский
                </button>
                <button class="btn-menu" name="english"
                        title="С переводом на английский"
                        style="background: {{colors['lightgray']}}; color: {{colors['green']}}">
                    <u>Английский</u>
                </button>
            {% endif %}

