<!--st_date - символьное изображение даты в формате дд.мм.гггг    -->
<link rel="stylesheet" type="text/css" href="/static/css/dates.css">
    <button name="left" value="-1" class="button_lr" style="background: {{colors['background']}};" title="Предыдущие сутки">
        <img src="/static/arrow-left.png" width="18" height="18">
    </button>
    <span style="color: {{colors['black']}};">Дата:</span>
    <input type="date" id="start" name="dt_start" value="{{par['st_date']}}" required
           style="background: {{colors['background']}}; color: {{colors['black']}};">
    <button name="right" value="+1" class="button_lr" style="background: {{colors['background']}};" title="Следующие сутки">
        <img src="/static/arrow-right.png" width="18" height="18">
    </button>
    <button name="current_day" class="simple-text" value="current_day"
            style="background: {{colors['background']}}; color: {{colors['blue']}};">
        <u>Сегодня</u>
    </button>
{% if par['page'] == 1 and par['is_today'] %}
    {% if par['do_update'] and par['page'] == 1 %}
        <input type="checkbox" name="do_update" value="Обновлять" class="checkbox" id="do_update" checked
               title="Режим автоматического обновления с заданным периодом"
               style="background: {{colors['background']}}; color: {{colors['black']}};">
        <span style="color: {{colors['black']}};" title="Режим автоматического обновления с заданным периодом">Обновлять</span>
    {% else %}
        <input type="checkbox" name="do_update" value="Без обновления" class="checkbox" id="do_update"
               title="Режим автоматического обновления ОТКЛЮЧЕН"
               style="background: {{colors['background']}}; color: {{colors['black']}};">
        <span style="color: {{colors['black']}};" title="Режим автоматического обновления ОТКЛЮЧЕН">Обновлять</span>
    {% endif %}
{% endif %}
