<div id="user_name">
  {% if languages %}
    <select class="combo" name="select_language" id="select_language"
            title="{{menu_txt[0]}}"
            style="background: {{colors['background']}}; color: {{colors['yellow']}}">
        {% for lang in languages %}
            {% if lang['key'] == upr['select_language'] %}
                <option value="{{lang['key']}}" selected>{{lang['key']}}</option>
            {% else %}
                <option value="{{lang['key']}}">{{lang['key']}}</option>
            {% endif %}
        {% endfor %}
    </select>
  {% endif %}
    <select class="combo" name="select_theme" id="select_theme"
            title="{{menu_txt[2]}}"
            style="background: {{colors['background']}}; color: {{colors['blue']}}">
        {% if upr['select_theme'] == 'black' %}
            <option value="black" selected>black</option>
        {% else %}
            <option value="black">black</option>
        {% endif %}
        {% if upr['select_theme'] == 'white' %}
            <option value="white" selected>white</option>
        {% else %}
            <option value="white">white</option>
        {% endif %}
    </select>
</div>
