<link rel="stylesheet" type="text/css" href="/static/css/sort_table.css">
<p class="sort" id="sort">
    <span style="color: {{colors['black']}};">Сортировка таблицы по:</span>
    <select name="sort" style="background: {{colors['background']}}; color: {{colors['color_combobox']}};">
        {% for unit in par['array_sort'] %}
            {% if par['selected_sort'] == unit['id'] %}
                <option value="{{unit['id']}}" selected>{{unit['sh_name']}}</option>
            {% else %}
                <option value="{{unit['id']}}">{{unit['sh_name']}}</option>
            {% endif %}
        {% endfor %}
    </select>

    {% if par['sort_trend'] == 0 %}
        <button class="btn-menu-active" name="sort_trend0"
                title="Сортировка по возрастанию"
                style="background: {{colors['lightgray']}}; color: {{colors['green']}}">
            <b>По возрастанию</b>
        </button>
    {% else %}
        <button class="btn-menu" name="sort_trend0"
                title="Сортировка по возрастанию"
                style="background: {{colors['background']}}; color: {{colors['black']}}">
            По возрастанию
        </button>
    {% endif %}

    {% if par['sort_trend'] == 1 %}
        <button class="btn-menu-active" name="sort_trend1"
                title="Сортировка по убыванию"
                style="background: {{colors['lightgray']}}; color: {{colors['green']}}">
            <b>По убыванию</b>
        </button>
    {% else %}
        <button class="btn-menu" name="sort_trend1"
                title="Сортировка по убыванию"
                style="background: {{colors['background']}}; color: {{colors['black']}}">
            По убыванию
        </button>
    {% endif %}

{% if par['close_sort'] != False %}
</p>
{% endif %}
