dws-menu *{
 margin: 0;
 padding: 0;
    z-index: 100;
}

.dws_menu {
    position: absolute;
    top: 0px;
}

.dws-menu {
    position: absolute;
    height: 50px;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
}

header{
 font-family: Cuprum, Arial, Helvetica, sans-serif;
}
.dws-menu ul,
.dws-menu ol{
 list-style: none;
}
.dws-menu > ul{
 display: flex;
 justify-content: left;
}
.dws-menu > ul li > a i.fa{
 position: absolute;
 top: 5px;
 left: 2px;
 font-size: 16px;
}
.dws-menu > ul li:first-child{
 border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
 border-right: 1px solid #babbbd;
}
.dws-menu > ul li{
 position: relative;
 border-right: 1px solid #c7c8ca;
}
.dws-menu li a:hover{
 background: #454547;
 color: #ffffff;
 box-shadow: 1px 5px 10px -5px black;
 transition: all 0.3s ease;
}
.dws-menu > ul li a{
 display: block;
 background: #ececed;
 padding: 15px 30px 15px 40px;
 font-size: 16px;
 color: #454547;
 text-decoration: none;
 text-transform:uppercase;
 transition: all 0.3s ease;
}
.dws-menu li > ul li{
 border: 1px solid #c7c8ca;
}
.dws-menu li > ul li a{
 padding: 7px;
 text-transform: none;
 background: #e4e4e5;
    z-index: 100;
}
.dws-menu li > ul li ul{
 position: absolute;
 right: -150px;
 top: 0;
}
/*sub menu*/
.dws-menu li ul{
 position: absolute;
 min-width: 280px;
 display: none;
}
.dws-menu li:hover > ul{
 display: block;
}
.dws-menu > ul li a{
 display: block;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
 background: #c9c9c9; /* Old browsers */
 background: -moz-linear-gradient(top,  #c9c9c9 0%, #f6f6f6 2%, #c4c5c7 98%, #757577 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  #c9c9c9 0%,#f6f6f6 2%,#c4c5c7 98%,#757577 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  #c9c9c9 0%,#f6f6f6 2%,#c4c5c7 98%,#757577 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(green), to(lightgreen));
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */

 padding: 10px 30px 10px 40px;
 font-size: 14px;
 color: #454547;
 color: white;
 text-decoration: none;
 text-transform:uppercase;
 transition: all 0.3s ease;
}
.dws-menu li a:hover{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e1e5+0,454547+2,454547+98,e0e1e5+100 */
 background: #e0e1e5; /* Old browsers */
 background: -moz-linear-gradient(top,  #e0e1e5 0%, #454547 2%, #454547 98%, #e0e1e5 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  #e0e1e5 0%,#454547 2%,#454547 98%,#e0e1e5 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  #e0e1e5 0%,#454547 2%,#454547 98%,#e0e1e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); /* IE6-9 */

 color: #ffffff;
 color: red;
 box-shadow: 1px 5px 10px -5px black;
 transition: all 0.3s ease;
}
.dws-menu > ul li ul li a{
    background: lightgreen;
    background: -webkit-gradient(linear, 0 0, 0 25%, from(green), to(lightgreen));
    opacity: 1;  /* полная не прозрачность */
    color: black;
    text-align: center;
}

#select_language {
    position: absolute;
    top: 0px;
    right: 0;
    padding-right: 10px;
}
