{% extends 'base.html' %}

{% block title %}
    Информация по закону
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/new.css">
<form method="post" name="{{own}}">
    <div class="row1" style="font-size:18px; font-weight: bold; color: {{colors['green']}};">
        {% if par['page_for_return'] %}
            <button type="submit" id="button_return" name="back" class="btn btn-primary btn-sm" title="{{par['text_for_return']}}">
                Назад
            </button>
        {% endif %}
        {{par['title']}}
        Язык=
        <select name="select_lang" id="select_lang"
                title="Язык текста в таблице новостей"
                style="background: {{colors['background']}}; color: {{colors['color_combobox']}};">
            {% for lang in par['languages'] %}
                {% if lang == par['select_lang'] %}
                    <option value="{{lang}}" selected>{{lang}}</option>
                {% else %}
                    <option value="{{lang}}">{{lang}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div> <!-- row1 -->
    <div class="bottom">
        <button type="submit" name="refresh" class="simple-text" id="refresh"
                style="background: {{colors['background']}}; color: {{colors['green']}};">
            <img src="/static/refresh.png" width="18" height="18">
            <u>Восстановить</u>
        </button>
        <button type="submit" name="save" class="simple-text" id="save"
                style="background: {{colors['background']}}; color: {{colors['blue']}};">
            <img src="/static/write_db.png" width="18" height="18">
            <u>Сохранить</u>
        </button>

        <div class="left">
            <p>Источник: {{par['unit']['name_rss']}} (Время: {{par['unit']['public_date']}})</p>
            <p>Тема: {{par['unit']['name_theme']}} </p>
            <textarea id="title_init" hidden> {{par['unit']['title_init']}} </textarea>
            <textarea id="description_init" hidden> {{par['unit']['description_init']}} </textarea>
            <textarea id="full_init" hidden> {{par['unit']['full_init']}} </textarea>

            <textarea style="background: {{colors['background']}}; color: {{colors['red']}};" id="title" name="title"
                      class="comment_short">{{par['unit']['title']}}</textarea>
            <textarea style="background: {{colors['background']}}; color: {{colors['green']}};" id="description"
                      name="description"
                      class="comment_long">{{par['unit']['description']}}</textarea>
            <p class="url"> Сайт:</p>
            <p>
                <a href="{{par['unit']['url']}}" title="Переход на страницу сайта с новостью" target="_blank">
                    <u><span style="color: {{colors['blue']}}">{{par['unit']['url']}}</span></u>
                </a>
            </p>

            {% if par['unit']['meta_img'] %}
                <img src="{{par['unit']['meta_img']}}" height="250px" width="400px" class="photo">
            {% endif %}
            {% if par['unit']['author'] %}
                <p class="text">Автор: <span style="color: {{colors['green']}}">{{par['unit']['author']}}</span></p>
            {% endif %}
            <p class="text">Длина текста= <span style="color: {{colors['green']}}">{{par['unit']['file']}}</span></p>
            <p class="text">Исходный язык [<span style="color: {{colors['green']}}">{{par['unit']['lang']}}</span>]</p>

        </div> <!-- left -->
        <div class="right">
            <textarea style="background: {{colors['background']}}; color: {{colors['black']}};" id="full"
                      name="full"
                      class="comment_long">{{par['unit']['full']}}</textarea>
        </div> <!-- right -->
    </div> <!-- bottom -->
</form>
{% endblock %}

{% block scripts %}
  <script>
    var title = document.querySelector('#title');
    var title_init = document.querySelector('#title_init');
    var description = document.querySelector('#description');
    var description_init = document.querySelector('#description_init');
    var full = document.querySelector('#full');
    var full_init = document.querySelector('#full_init');

    var refresh = document.querySelector('#refresh');
    var save = document.querySelector('#save');


    $(function() {
        $(document).ready(function () {
          $('select').on('change', function() { document.forms['{{own}}'].submit(); });
          $('textarea').on('input', function() { calc_change(); });

          $(function () {
              calc_change();
              $('body').show();
          }); // end ready

          function calc_change() {
            var count = 0;
            if (title.value.trim() !== title_init.value.trim()) {count += 1;}
            if (description.value.trim() !== description_init.value.trim()) {count += 1;}
            if (full.value.trim() !== full_init.value.trim()) {count += 1;}
            if (count > 0)
                { save.style.visibility = 'visible'; refresh.style.visibility = 'visible'; }
            else
                { save.style.visibility = 'hidden'; refresh.style.visibility = 'hidden'; };
          };

        });
    });
  </script>

{% endblock %}
