<!DOCTYPE html>
{% if lang == 'iw' %}
    <html lang="he">
{% else %}
    <html lang="{{lang}}">
{% endif %}
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
<!--{% if lang == 'iw' %}-->
<!--    <style>-->
<!--        body {-->
<!--            direction: rtl;-->
<!--            text-align: right;-->
<!--        }-->
<!--    </style>-->
<!--{% endif %}-->
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/road.css">
    <link rel="shortcut icon" href="/static/motorway.png" >

            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body style="background: {{colors['background']}}; color: {{colors['black']}};">
<form method="post" name="{{own}}">
      <basefont size="5">
      <div class="menu">
          <input type="hidden" name="user_id" value="{{upr['user_id']}}">
          {% include "include/menu2.html" %}
      </div>
      <div class="container-flash">
            <!-- вывести все ошибки анализа ввода -->
          {% for message in get_flashed_messages(with_categories=True) %}
          <div class="alert alert-{{ message[0] }}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message[1] }}
          </div>
          {% endfor %}
      </div>
    <div class="points">
        <p>
            <button type="submit" name="calculate" class="simple-button"
                    style="background: {{colors['lightgray']}}; color: {{colors['red']}}"
                    title="Calculate route">
                {{txt[2]}}
            </button>
            {% if par['speedometer'] %}
                <button name="table" class="simple-text"
                        style="background: {{colors['background']}}; color: {{colors['blue']}};">
                    <u>Table</u>
                </button>
            {% else %}
                <button name="speedometer" class="simple-text"
                        style="background: {{colors['background']}}; color: {{colors['blue']}};">
                    <u>Riskmeter</u>
                </button>
            {% endif %}
            <span style="colors: {{colors['blue']}}">{{txt[0]}}:</span>
            <input name="start_point" class="search" type="search"
                   style="background: {{colors['background']}}; color: {{colors['black']}}" value="{{par['start_point']}}"
                   placeholder="Input start point">
            <span style="colors: {{colors['blue']}}">{{txt[1]}}:</span>
            <input name="end_point" class="search" type="search"
                   style="background: {{colors['background']}}; color: {{colors['black']}}" value="{{par['end_point']}}"
                   placeholder="Input end point">
            <span style="color: {{colors['blue']}};">{{txt[3]}}:</span>
            <input type="datetime-local" name="dt_start" value="{{par['dt_start']}}" required
                   style="background: {{colors['background']}}; color: {{colors['black']}};">
        </p>
        <p>
            {% if par['dist'] %}
                <span style="color: {{colors['blue']}}"> {{txt[4]}}=</span> {{par['dist']}}
            {% endif %}
            {% if par['time'] %}
                <span style="color: {{colors['blue']}}">{{txt[5]}}=</span> {{par['time']}}
            {% endif %}
            {% if par['weight'] %}
                <span style="color: {{colors['blue']}}">{{txt[6]}}=</span>{{par['weight']}}
            {% endif %}
            {% if par['coefficient'] %}
            <span style="color: {{colors['blue']}}">&nbsp&nbsp&nbsp&nbsp{{txt[9]}}=</span><span style="color: {{colors['red']}}; font-size: 18px;">{{par['coefficient']}}</span>
            {% endif %}
            {% if par['max_weight'] %}
                <span style="color: {{colors['blue']}}">&nbsp&nbsp&nbsp&nbsp(max=</span>{{par['max_weight']}}
            {% endif %}
            {% if par['min_weight'] %}
                <span style="color: {{colors['blue']}}">min=</span>{{par['min_weight']}}
            {% endif %}
            {% if par['av_weight'] %}
                <span style="color: {{colors['blue']}}">av=</span>{{par['av_weight']}})
            {% endif %}
        </p>
    </div>
    <!--
    <div id="user_name">
        <span style="background: {{colors['background']}}; color: {{colors['black']}}">{{upr['user_name']}}</span>
    </div>
    -->
      <div class="container">
          {% block content %} {% endblock %}
      </div>
            {% if par['speedometer'] and par['coefficient'] %}
                <div class="data-chart">
                    <div align="center" style="font-size: 22px">Riskmeter</div>
                    <canvas id="riskChart"></canvas>
            {% elif not par['speedometer'] %}
                <div class="data">
                <table id="newsTable" class="table table-sm">
                    <thead  align="center" style="background: {{colors['lightgray']}}; color: {{colors['black']}};">
                        <tr>
                            <th id="th_number" scope="col" title="Номер отрезка">#</th>
                            <th id="th_time" scope="col" title="Time">Time</th>
                            <th id="th_weight" scope="col" title="Total weight of the waypoint">weight</th>
                            <th id="th_length" scope="col" title="Length of the segment">L</th>
                            <th id="th_way" scope="col" title="Length of the route from the start">way</th>
                            <th id="th_district" scope="col" title="Region name">district</th>
                            <th id="th_district_weight" scope="col" title="district weight">district weight</th>
                            <th id="th_speed" scope="col" title="Speed">speed</th>
                            <th id="th_speed_limit" scope="col" title="Speed limit">speed limit</th>
                            <th id="th_speed_limit_weight" scope="col" title="speed limit weight">speed weight</th>
    <!--                        <th id="th_road_type_weight" scope="col" title="road_type_weight">road type weight</th>-->
                            <th id="th_weather_condition" scope="col" title="weather condition">weather</th>
                            <th id="th_weather_condition_weight" scope="col" title="weather condition weight">weather weight</th>
                            <th id="th_road_condition" scope="col" title="road_condition">road condition</th>
                            <th id="th_road_condition_weight" scope="col" title="road condition">road weight</th>
                            <th id="th_day_night" scope="col" title="day_night">day night</th>
                            <th id="th_day_night_weight" scope="col" title="day nightweight">day night weight</th>
                            <th id="th_lighting_weight" scope="col" title="lighting_weight">lighting weight</th>
                            <th id="th_day_of_week" scope="col" title="day_of_week">day of week</th>
                            <th id="th_day_of_week_weight" scope="col" title="day_of_week_weight">day of week weight</th>
                            <th id="th_x" scope="col" title="Latitude">y</th>
                            <th id="th_y" scope="col" title="Longitude">x</th>
                            <th id="th_severity" scope="col" title="severity">S</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                        {% for data in par['data'] %}
                            {% if data['show'] %}
                                <tr style="color: {{colors['black']}};">
                                    <td><div align="right">{{data['number']}}</div></td>
                                    <td><div align="right">{{data['dt_show']}}</div> </td>
                                    <td>
                                        {% if data['weight'] %}
                                            <div align="right">{{data['weight']}}</div>
                                        {% endif %}
                                    </td>
                                    <td><div align="right">{{data['length']}}</div></td>
                                    <td><div align="right">{{data['way']}}</div></td>
                                    <td>{{data['district_name_eng']}}</td>
                                    <td><div align="right">{{data['district_weight']}}</div></td>
                                    <td>
                                        <div align="right">
                                            {{data['speed']}}
                                        </div>
                                    </td>
                                    <td>
                                        {% if data['speed_limit'] %}
                                            {{data['speed_limit']}}
                                        {% endif %}
                                    </td>
                                    <td>{{data['speed_limit_weight']}}</td>
    <!--                                <td><div align="right">{{data['road_type_weight']}}</div></td>-->
                                    <td>{{data['weather_condition']}}</td>
                                    <td><div align="right">{{data['weather_condition_weight']}}</div></td>
                                    <td>{{data['road_condition']}}</td>
                                    <td><div align="right">{{data['road_condition_weight']}}</div></td>
                                    <td>{{data['day_night']}}</td>
                                    <td><div align="right">{{data['day_night_weight']}}</div></td>
                                    <td>{{data['lighting_weight']}}</td>
                                    <td>{{data['day_of_week']}}</td>
                                    <td><div align="right">{{data['day_of_week_weight']}}</div></td>
                                    <td><div align="right">{{data['x']}}</div></td>
                                    <td><div align="right">{{data['y']}}</div></td>
                                    <td><div align="right">{{data['severity']}}</div></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
    </div>
    <div class="switch">
            {% if not par['speedometer'] %}
                {% if par['switch'] == 'all_route' %}
                    <button class="btn-menu-active" name="all_route"
                            style="background: {{colors['lightgray']}}; color: {{colors['green']}}">
                        <b>{{txt[7]}}</b>
                        {% if par['count']%}
                            ({{par['count']}})
                        {% endif %}
                    </button>
                    <button class="btn-menu" name="accidents"
                            style="background: {{colors['background']}}; color: {{colors['black']}}">
                        {{txt[8]}}
                        {% if par['count_accidents']%}
                            ({{par['count_accidents']}})
                        {% endif %}
                    </button>
                {% else %}
                    <button class="btn-menu" name="all_route"
                            style="background: {{colors['background']}}; color: {{colors['black']}}">
                        {{txt[7]}}
                        {% if par['count']%}
                            ({{par['count']}})
                        {% endif %}
                    </button>
                    <button class="btn-menu-active" name="accidents"
                            style="background: {{colors['lightgray']}}; color: {{colors['green']}}">
                        <b>{{txt[8]}}</b>
                        {% if par['count_accidents']%}
                            ({{par['count_accidents']}})
                        {% endif %}
                    </button>
                {% endif %}
            {% endif %}
    </div>
    <div class="folium-map" id="map_f4ea2d590327241e553f226e8564c166" ></div>
</form>
</body>
{% if par['speedometer'] and par['coefficient'] %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var oilCanvas = document.getElementById("riskChart");

        var oilData = {
            labels: [
                "{{txt[10]}}", "{{txt[11]}}", "{{txt[12]}}", "{{txt[13]}}"
                ],
            datasets: [
                {
                    label: "Riskmeter",
                    data: [{{par['value_green']}}, {{par['value_yellow']}}, {{par['value_red']}}, 0],
                    backgroundColor: [
                        "lightgreen",
                        "yellow",
                        "red",
                        "blue"
                    ],
                    borderColor: "black",
                    borderWidth: 0
                },
                {
                    data: [{{par['coefficient']}}, {{par['empty_coefficient']}}],
                    backgroundColor: [
                        "blue",
                        "{{colors['background']}}",
                    ],
                    borderColor: "{{colors['background']}}",
                    borderWidth: 0
                }
                ]
        };

        var chartOptions = {
          rotation: -90,
          cutoutPercentage: 0,
          circumference: 180,
          legend: {
            position: 'left'
          },
          animation: {
            animateRotate: true,
            animateScale: true
          },
          plugins: {
            legend: {
                labels: {color: "{{colors['black']}}"}
            }
          }
        };

        var pieChart = new Chart(oilCanvas, {
          type: 'doughnut',
          data: oilData,
          options: chartOptions
        });
    </script>
{% endif %}
<script>
            <!-- определение центральной точки на графике -->
            var map_f4ea2d590327241e553f226e8564c166 = L.map(
                "map_f4ea2d590327241e553f226e8564c166",
                {
                    {% if par['start_x'] %}
                        center: [{{(par['start_x'] + par['end_x'])/2}}, {{(par['start_y'] + par['end_y'])/2}}],
                    {% else %}
                        center: [],
                    {% endif %}
                    crs: L.CRS.EPSG3857,
                    ...{
                          "zoom": 9,
                          "zoomControl": true,
                          "preferCanvas": false,
                        }

                }
            );

            var tile_layer_cae6cde8fbfcd30c800e14e41ae66e07 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
                    "minZoom": 0,
                    "maxZoom": 19,
                    "maxNativeZoom": 19,
                    "noWrap": false,
                    "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
                    "subdomains": "abc",
                    "detectRetina": false,
                    "tms": false,
                    "opacity": 1,
                }
            );

            tile_layer_cae6cde8fbfcd30c800e14e41ae66e07.addTo(map_f4ea2d590327241e553f226e8564c166);

            var marker_3d8e5a1c6fa863b6ff1c72a1c0c2d666 = L.marker(
                    {% if par['start_x'] %}
                        [{{par['start_x']}}, {{par['start_y']}}],
                    {% else %}
                        [],
                    {% endif %}
            ).addTo(map_f4ea2d590327241e553f226e8564c166);

            var icon_84b8e3f1ca8851251ae5743c020b4785 = L.AwesomeMarkers.icon(
                {
                    "markerColor": "green",
                    "iconColor": "white",
                    "icon": "home",
                    "prefix": "glyphicon",
                    "extraClasses": "fa-rotate-0",
                }
            );
            marker_3d8e5a1c6fa863b6ff1c72a1c0c2d666.setIcon(icon_84b8e3f1ca8851251ae5743c020b4785);

            marker_3d8e5a1c6fa863b6ff1c72a1c0c2d666.bindTooltip(
                `<div>
                     {{par['start_point']}} {{par['start_xy']}}
                 </div>`,
                {
                      "sticky": true,
                }
            );

<!-- добавить на карту точки аварий -->
            var icon_accident = L.AwesomeMarkers.icon(
                {
                    "markerColor": "blue",
                    "icon": "car",
                    "extraClasses": "fa-class",
                }
            );
            var icon_big_accident = L.AwesomeMarkers.icon(
                {
                    "markerColor": "yellow",
                    "icon": "car",
                    "extraClasses": "fa-class",
                }
            );

            {% for data in par['data'] %}
                {% if data['is_accident'] %}
                    {% if data['severity'] > 1 %}
                        L.marker([{{data['x']}}, {{data['y']}}]).addTo(map_f4ea2d590327241e553f226e8564c166).
                        setIcon(icon_big_accident).bindTooltip(`<div>
                        {{data['number']}} ({{data['x']}} - {{data['y']}}) {{data['way']}} km
                          count={{data['count_accident']}} big_accident={{data['count_big_accident']}}
                            </div>`,
                                { "sticky": true, });
                    {% else %}
                        L.marker([{{data['x']}}, {{data['y']}}]).addTo(map_f4ea2d590327241e553f226e8564c166).
                        setIcon(icon_accident).bindTooltip(`<div>
                        {{data['number']}} ({{data['x']}} - {{data['y']}}) {{data['way']}} km count={{data['count_accident']}}
                            </div>`,
                                { "sticky": true, });
                    {% endif %}
                {% endif %}
            {% endfor %}

            var marker_d547c9fda8e0eadf27523382b3fba29e = L.marker(
                    {% if par['end_x'] %}
                        [{{par['end_x']}}, {{par['end_y']}}],
                    {% else %}
                        [],
                    {% endif %}
                {
                }
            ).addTo(map_f4ea2d590327241e553f226e8564c166);
        
    
            var icon_5ceb0f7235a77422e8861bc11480230c = L.AwesomeMarkers.icon(
                {
                    "markerColor": "red",
                    "iconColor": "white",
                    "icon": "home",
                    "prefix": "glyphicon",
                    "extraClasses": "fa-rotate-0",
                }
            );
            marker_d547c9fda8e0eadf27523382b3fba29e.setIcon(icon_5ceb0f7235a77422e8861bc11480230c);
        
    
            marker_d547c9fda8e0eadf27523382b3fba29e.bindTooltip(
                `<div>
                     {{par['end_point']}} {{par['end_xy']}}
                 </div>`,
                {
                    "sticky": true,
                }
            );

            var poly_line_e8b1b906de671f211ee84b282ba5bd9d = L.polyline(
                {{par['locations']}},
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue",
                "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8,
                "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_f4ea2d590327241e553f226e8564c166);
        
</script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8"
          src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
</html>